/* CSS for all pages */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
:root {
  --main-bg-colour: #253137;
  --main-txt-colour: #FFFFFF;
  --sec-txt-colour: #0067A5;
  --thrd-txt-colour: #d9d9d9;
}

*{
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0 auto;
  overflow-x: hidden;
}

/* CSS for nav-bar */

.flex-container{
  padding-left: 25%;
  padding-right: 25%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--main-bg-colour);
}

.flex-container a{
  display: inline-block;
  color: var(--thrd-txt-colour);
  text-decoration: none;
}

.flex-container a:hover{
  color: var(--main-txt-colour);
}

.bitcoin, .altcoins, .wallets, .about{
  padding-top: 1px;
  overflow-y: hidden;
}

.flex-container i{
  padding-top: 27%;
  font-size: 135%;
}

.flex-container > div{
  height: 5vh;
  text-align: center;
  line-height: 5vh;
}

.logo{
  padding-top: 1.5px;
  overflow-y: hidden;
}

/* CSS for index page */

.wide-container > div{
  width: 100%;
  height: 80vh;
  padding-bottom: 2%;
  background-position: center;
  background-size: cover;
}

.wide-container a:hover{
  text-decoration: underline;
}

.wide-1{
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("img/btc-3.png");
}

.wide-2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("img/eth-4.5.png");
}

.wide-3{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("img/wallet-3.png");
}

.wide-text{
  text-align: center;
  padding-top: 60vh;
  color: var(--main-txt-colour);
  vertical-align: middle;
}

.wide-text > h1{
  font-size: 50px;
}

.wide-text > a{
  font-size: 25px;
  text-decoration: none;
  color: var(--main-txt-colour);
}

/* CSS for footer */

footer{
  background-color: #253137;
  height: 25vh;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 2vh;
}

.fbox{
  padding-top: 3vh;
  flex: 1;
  color: white;
}

.fbox > a{
  display:inline-block;
  padding-top: 1vh;
  text-decoration: none;
  color: var(--main-txt-colour);
}

.fbox > a:hover{
  text-decoration: underline;
}

.fbox > h1{
  font-size: 20px;
}

/* CSS for infomation pages */

.heading{
  font-size: 30px;
  text-align: center;
  padding-top: 4vh;
}

.spread-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  width: 70vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.spread-container > img{
  max-width: 100%;
  height: auto;
  max-height: 50vh;
  vertical-align: middle;
}

.spread-container > p{
  border-style: solid;
  border-width: 2px;
  padding: 10px;
  border-color: var(--main-bg-colour);
}

.spread-container > p > b{
  font-size: 20px;
}

.drop-shadow{
  background-color: var(--main-txt-colour);
}

.image-background{
  background-image: url(img/stock-4.5.png);
}

/* CSS for about page */

.about-container{
  width: 100vw;
}

.about-title{
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/stock-1.png);
  background-position: center;
  background-size: cover;
  height: 20vh;
  color: var(--main-txt-colour);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about-title > h1{
  z-index: 1;
  font-size: 50px;
}

.paragraph{
  padding-top: 10vh;
  justify-content: center;
  font-size: 20px;
}

.paragraph > p{
  text-align: center;
  width: 45vw;
}

.section-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 15vh;
  padding-bottom: 8vh;
  gap: 1em;
  width: 85vw;
}

.sec-btc > a{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/btc-5.png);
}

.sec-altcoins > a{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/altcoin-3.png);
}

.sec-wallets > a{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/wallet-4.png);
}

.sec-btc > a, .sec-altcoins > a, .sec-wallets > a{
  width: 25vw;
  height: 30vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 20px;
}

.sec-btc > a, .sec-altcoins > a, .sec-wallets > a{
  z-index: 1;
  text-decoration: none;
  color: var(--main-txt-colour);
}

.sec-btc:hover, .sec-altcoins:hover, .sec-wallets:hover{
  text-decoration: underline;
}

.drop-shadow{
  box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.6), -12px 0 8px -4px rgba(0, 0, 0, 0.6);
  width: 75vw;
}

/* CSS for to help in media queries */

.spacer{
  display: none;
}


/* CSS for media queries */

@media (max-width: 1000px) {
  .paragraph > p{
    font-size: 18px;
    width: 60vw;
  }
}

@media (max-width: 800px) {
  .flex-container{
    display: flex;
    flex-direction: column;
  }
  .spread-container{
    display: block;
  }
  .spacer{
    margin-bottom: 30px;
    display: block;
  }
  footer{
    display: flex;
    flex-direction: column;
    height: 65vh;
  }
  .section-container{
    display: block;
  }
  .sec-btc > a, .sec-altcoins > a, .sec-wallets > a{
    width: 50vw;
  }
  .spread-container > img{
    width: 100%;
  }
  .paragraph > p{
    font-size: 17px;
    width: 70vw;
  }
}

@media (max-width: 600px) {
  .paragraph > p{
    font-size: 15px;
    width: 70vw;
  }
}
