@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0 auto;
  overflow-x: hidden;
}

.flex-container{
  padding-left: 25%;
  padding-right: 25%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #253137;
}

.flex-container a{
  color: white;
  text-decoration: none;
}

.flex-container i{
  padding-top: 30%;
  font-size: 135%;
}

.flex-container > div{
  height: 5vh;
  text-align: center;
  line-height: 5vh;
}

.logo{
  overflow-y: hidden;
}

.wide-container > div{
  width: 100%;
  height: 80vh;
  padding-bottom: 2%;
  background-position: center;
  background-size: cover;
}

.wide-1{
  background: url("img/btc-3.png");
}

.wide-2{
  background: url("img/eth-4.png");
}

.wide-3{
  background: url("img/wallet-3.png");
}

footer{
  background-color: #253137;
  height: 30vh;
}
